@model DetalhesTelefoneModel

@{ 
    string acao = (string)ViewData["Acao"];
    bool fav = acao == "Favoritar" ? true : false;
}

<div class="modal-content">

    <!-- Modal content-->
    <div class="modal-header">
        <h4 class="modal-title">@acao Telefone</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div>
            <div>
                <h5 @if (!fav) {<text>class="text-danger"</text>}>
                    Tem certeza que deseja @acao.ToLower() esse telefone? @if (!fav) { <span>Essa ação é permanente.</span>}
                </h5>
            </div>

            <partial name="../PartialViews/_DlTelefonePartial.cshtml" for="@Model" />

            @if (fav) 
            {
                <div class="form-group">
                    <button type="submit" class="btn btn-warning" id="btn" onclick="window.location.href='@(Url.Action("FavoritarTelefone","Conta"))?id=@Model.Id'">
                        Favoritar
                    </button>
                </div>
            }
            else { 
            <div class="form-group">
                <button type="submit" value="@Model.Id" class="btn btn-danger" id="btn" onclick="window.location.href='@(Url.Action("RemoverTelefone","Conta"))?id=@Model.Id'">
                    Remover permanentemente
                </button>
            </div>
            }

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    </div>

</div>
