@model DetalhesCartaoModel

@{ string classe = Model.EPreferencial ? "preferencial" : "";
    string classDt = "col-sm-12";
    string classDd = "col-sm-12";
}


<dt class="@classDt @classe">
    @Html.DisplayNameFor(model => model.Nome) @if (Model.EPreferencial) {@: <span class="text-warning">&#9733;</span> 
    }
</dt>
<dd class="@classDd @classe">
    @Html.DisplayFor(model => model.Nome)
</dd>
<dt class="@classDt @classe">
    @Html.DisplayNameFor(model => model.Bandeira)
</dt>
<dd class="@classDd @classe">
    @Html.DisplayFor(model => model.Bandeira)
</dd>
<dt class="@classDt @classe">
    @Html.DisplayNameFor(model => model.Codigo)
</dt>
<dd class="@classDd @classe">
    @(Model.Codigo.Substring(0,4))-****-****-****
</dd>