@model LES.Models.ViewModel.Shared.LivroBaseModel

@{
    ViewData["Title"] = "Descrição";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container ">
    <div class="row">
        <div class="col-4 text-center pr-3 border-right border-secondary">
            <img src="@Url.Action("Livro", "Imagem")?codBar=@(Model.CodigoBarras)" class="img-fluid" />
        </div>
        <div class="col-7 mt-lg-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 align-content-lg-start font-weight-light">
                        <h3>@Model.Titulo</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 align-content-lg-start border-bottom">
                        <h4 class="font-weight-light">@Model.Autor</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-justify border-bottom mb-2">
                        @Model.Sinopse
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 font-weight-light text-center border-bottom">
                        <h4>Ficha Técnica</h4>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <div class="row">
                            <span class="col-sm-12 font-weight-bold text-center">Editora</span>
                        </div>
                        <div class="row">
                            <span class="col-sm-12 font-weight-light text-center">@Model.Editora</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <span class="col-sm-12 font-weight-bold text-center">Ano de lançamento</span>
                        </div>
                        <div class="row">
                            <span class="col-sm-12 font-weight-light text-center">@Model.DtLancamento.Year</span>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="row">
                            <span class="col-sm-12 font-weight-bold text-center">Páginas</span>
                        </div>
                        <div class="row">
                            <span class="col-sm-12 font-weight-light text-center">@Model.Paginas</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3">
                        <div class="row">
                            <span class="col-sm-12 font-weight-bold text-center">Edição</span>
                        </div>
                        <div class="row">
                            <span class="col-sm-12 font-weight-light text-center">@Model.Edicao</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <span class="col-sm-12 font-weight-bold text-center">Largura</span>
                        </div>
                        <div class="row">
                            <span class="col-sm-12 font-weight-light text-center">@Model.Largura</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <span class="col-sm-12 font-weight-bold text-center">Comprimento</span>
                        </div>
                        <div class="row">
                            <span class="col-sm-12 font-weight-light text-center">@Model.Comprimento</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <span class="col-sm-12 font-weight-bold text-center">Altura</span>
                        </div>
                        <div class="row">
                            <span class="col-sm-12 font-weight-light text-center">@Model.Altura</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-8 align-content-lg-end text-center my-4">
                        <h2 class="font-weight-bold">R$ @Model.Preco.ToString("0.00").Replace('.', ',')</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 font-weight-bold text-center">
                        <span class="text-center">
                            Categorias
                        </span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    @foreach (var item in Model.Categorias)
                    {
                        <span class="border rounded bg-light text-dark p-1 mb-2 mx-3"><small>@item</small></span>
                    }
                </div>
                <div class="row justify-content-end">
                    <div class="col-8"></div>
                    <span class="col-1"> x </span>
                    <div class="col-3 justify-content-end">
                        <input class="form-control mr-1" type="number" min="1" value="1" id="QuantiaItens" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-success col-sm-7 mr-4 text-center comprarAgora" value="@Model.CodigoBarras">COMPRAR AGORA</button>
                    <button type="button" class="btn btn-outline-success col-sm-4 text-center addtoCarrinho" value="@Model.CodigoBarras"><small><i class="fa fa-shopping-cart"></i></small></button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var urls = urls || {};
        urls.AddCarrinho = '@Url.Action("_AddToCarrinho", "CarrinhoCompra")';
        urls.FinalizarCompra = '@Url.Action("FinalizarCompra","CarrinhoCompra")';
    </script>
    <script src="~/js/Shared/AddToCarrinho.js"></script>
    <script src="~/js/Carrinho/ComprarAgora.js"></script>

}