@model LES.Models.ViewModel.Carrinho.CarrinhoLivroModel

    <td>
        <img src="@Url.Action("Livro","Imagem")?codBar=@Model.CodigoBarras" class="capa-carrinho" />
    </td>
    <td style="width:30%">
        <div class=""><h6>@Model.Titulo</h6></div>
        <div class="font-weight-lighter"><h6>@Model.Autor</h6></div>
    </td>
    <td>
        <div class=""><small>R$ @Model.Preco.ToString("0.00")</small></div>
        <div class="font-weight-lighter"><h4>x @Model.Quantia</h4></div>
    </td>
    <td>
        <button type="button" class="btn btn-light mais-carrinho" value="@Model.CodigoBarras">+</button>
        <button type="button" class="btn btn-light menos-carrinho" value="@Model.CodigoBarras">-</button>
    </td>
    <td>
        <button type="button" class="btn btn-danger remover-carrinho" value="@Model.CodigoBarras">&times;</button>
    </td>
