@model LES.Models.ViewModel.Shared.LivroCardModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="col-md-3">
        <div class="card mt-3">
            <div class="product-1 align-items-center p-2 text-center">
                <img src="~/img/the-Winds-of-Winter-cover.jpg" class="img-fluid img-thumbnail" width="160" />
                <h5>@(Model.Titulo)</h5>
                <div class="mt-3 info">
                    <span class="text1 d-block">
                        @(Model.Descricao)
                    </span>
                    <div class="cost mt-3 text-dark">
                        <span>R$ @(Model.Preco)</span>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row no-gutters justify-content-sm-around">
                        <button type="button" class="btn btn-success col-8" onclick="window.location.href='@Url.Action("Descricao","Livros", Model.Codigo)'" style="font-size:0.75rem">SAIBA MAIS</button>
                        <button type="button" class="btn btn-outline-success col-3" onclick="window.location.href='@Url.Action("Descricao","Livros", Model.Codigo)'" style="font-size:0.75rem"><i class="fa fa-shopping-cart"></i></button>
                </div>
            </div>
        </div>
    </div>