@model LES.Models.ViewModel.ClienteCadastro

@{
    ViewData["Title"] = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/CreateCliente.css" rel="stylesheet" />

<h1>@ViewBag.Title</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-7">

        <form asp-action="Cadastro" asp-controller="Clientes">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Informações Pessoais</h2>
            <div class=" col-md-6">
                @Html.Partial("_InfoClientePartial", Model)
                @Html.Partial("_SenhaPartial", Model)
            </div>

            <h2>Endereços</h2>
            <div class="secaoForm enderecos" id="enderecos">

                <div class="endereco">
                    <h4>Endereço de residência: </h4>
                    <div>
                        @Html.Partial("_EnderecoPartial", new LES.Models.ViewModel.EnderecoExistente(Model.Enderecos, 0))
                    </div>

                </div>

                <button type="button" id="btnAddEndereco" class="btn btn-outline-secondary btn-add">Adicionar novo endereço</button>
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" id="btn" disabled />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">À listagem</a>
</div>

@section Scripts
{
    <script type="text/javascript">

        var cadastro = cadastro || {};
        cadastro.urls = cadastro.urls || {};
        cadastro.urls.endereco = '@Url.Action("_EnderecoPartial", "Clientes")' ;


    </script>
    <script src="~/js/ValSenhaCliente.js"></script>
    <script src="~/js/ClientePrevenirCadastro.js"></script>
    <script src="~/js/ValRequired.js"></script>
    <script src="~/js/GerenciadorEnderecos.js"></script>

}
