@model LES.Models.ViewModel.Conta.DetalhesTelefoneModel

@{ string classePreferencial = Model.EPreferencial ? "preferencial" : "";
    string classDt = "col-sm-12";
    string classDd = "col-sm-12";
}

<dt class="@classDt @classePreferencial">
    @Html.DisplayNameFor(model => model.TipoTelefone) @if (Model.EPreferencial) {@: <span class="text-warning">&#9733;</span> 
    }
</dt>
<dd class="@classDd @classePreferencial">
    @Html.DisplayFor(model => model.TipoTelefone)
</dd>
<dt class="@classDt @classePreferencial">
    @Html.DisplayNameFor(model => model.Ddd)
</dt>
<dd class="@classDd @classePreferencial">
    @Html.DisplayFor(model => model.Ddd)
</dd>
<dt class="@classDt @classePreferencial">
    @Html.DisplayNameFor(model => model.NumeroTelefone)
</dt>
<dd class="@classDd @classePreferencial">
    @Html.DisplayFor(model => model.NumeroTelefone)
</dd>
