@model LES.Models.ViewModel.Admin.AdminPedidoModel
@using LES.Models.Entity

@{ IDictionary<StatusPedidos, string[]> statusInfo = new Dictionary<StatusPedidos, string[]>();

    statusInfo[(StatusPedidos)0] = new string[] { "text-info", "Em processamento." };
    statusInfo[(StatusPedidos)1] = new string[] { statusInfo[(StatusPedidos)0][0], "Em trânsito..." };
    statusInfo[(StatusPedidos)2] = new string[] { statusInfo[(StatusPedidos)0][0], "Troca em processamento..." };
    statusInfo[(StatusPedidos)3] = new string[] { statusInfo[(StatusPedidos)0][0], "Troca autorizada!" };
    statusInfo[(StatusPedidos)4] = new string[] { statusInfo[(StatusPedidos)0][0], "Aprovado!" };
    statusInfo[(StatusPedidos)5] = new string[] { "text-success", "Trocado!" };
    statusInfo[(StatusPedidos)6] = new string[] { statusInfo[(StatusPedidos)5][0], "Entregue!" };
    statusInfo[(StatusPedidos)7] = new string[] { "text-danger", "Negado." };

}


<div class="container justify-content-center">
    <table class="table table-sm table-borderless table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Livro</th>
                <th scope="col">Valor Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var livro in Model.Livros)
            {
                <tr>
                    <th scope="row">@livro.CodigoBarras</th>
                    <td>@livro.Titulo</td>
                    <td>R$ @livro.Preco.ToString("0.00").Replace(".", ",")</td>
                </tr>
            }
        </tbody>
    </table>
    <span>Total da compra:</span>
    <span>R$ 67,38</span>
    <div class="m-3"></div>

    <div class="row justify-content-center">
        <div class="col-6">
            <h5 class="modal-title">Cupons Utilizados.</h5>
            <table class="table table-borderless table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cupom in Model.Cupons)
                    {
                        <tr>
                            <th scope="row">@cupom.Codigo</th>
                            <td>R$ @cupom.Valor.ToString("0.00").Replace(".", ",")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <span>Total dos cupons:</span>
            <span>R$ 11,38</span>
        </div>
        <div class="col-6">
            <h5 class="modal-title">Status do Pedido.</h5>
            <h6 class="@statusInfo[Model.Status][0]">@statusInfo[Model.Status][1]</h6>
        </div>
    </div>
</div>