@model LES.Models.ViewModel.Admin.ListaAdminLivroModel

<div class="row mb-2">
    <div class="col-sm-12">
        <button type="button" class="btn-success btn-lg btn-block btnAddLivro" data-toggle="modal" data-target="#myModal">
            Cadastrar novo livro
        </button>
    </div>
</div>
<div class="row">
    @if (Model.Livros.Count > 0)
    {
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Capa</th>
                    <th scope="col">Título</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Estoque</th>
                    <th scope="col">Ações</th>
                    <th scope="col">Inativar</th>
                </tr>
                <tr>
                    <th scope="col">
                        <input id="filtroLivId" class="form-control" placeholder="1..." />
                    </th>
                    <th scope="col">
                    </th>
                    <th scope="col">
                        <input id="filtroLivTituloAutor" class="form-control" placeholder="Memórias Póstumas.../Machado de Assis..." />
                    </th>
                    <th scope="col">
                        De <input id="filtroLivValorMin" class="form-control" type="number" step="0.01" min="0" placeholder="R$ 13,40..." />
                        Até <input id="filtroLivValorMax" class="form-control" type="number" step="0.01" min="0" placeholder="R$ 13,40..." />
                    </th>
                    <th scope="col">
                        <label for="filtroLivCategorias" class="form-check-label">Categorias</label>
                        <input id="filtroLivCategorias" class="form-control" placeholder="Romance..." />
                    </th>
                    <th scope="col">
                        <input id="filtroLivInativado" class="form-check-input" type="checkbox" />
                        <label for="filtroLivInativado" class="form-check-label">Incluir inativados?</label>
                    </th>
                    <th scope="col">
                        <button class="btn btn-primary btnBuscarLiv">Buscar</button>
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var livro in Model.Livros)
                {
                    <tr>
                        <th scope="row">@livro.Id</th>
                        <td>
                            <img src="@Url.Action("Livro","Imagem")?codBar=@livro.CodigoBarras" class="capa-carrinho" style="max-height:2rem"/>
                        </td>
                        <td><span class="font-weight-bold">@livro.Titulo</span> por @livro.Autor</td>
                        <td>R$ @livro.Preco.ToString("0.00").Replace(".", ".")</td>
                        <td><small class="font-weight-lighter">x</small>@livro.Estoque</td>
                        <td>
                            <button type="button" class="btn btn-outline-success btnEntradaEstoqueLivro" data-toggle="modal" data-target="#myModal" value="@livro.Id">Entrada no Estoque</button>
                            <button type="button" class="btn btn-outline-info btnVisualizarLivro" data-toggle="modal" data-target="#myModal" value="@livro.Id">Visualizar</button>
                            <button type="button" class="btn btn-outline-info btnEditarLivro" data-toggle="modal" data-target="#myModal" value="@livro.Id">Editar</button>
                        </td>
                        <td><button type="button" class="btn btn-danger btnInativarLivro" data-toggle="modal" data-target="#myModal" value="@livro.Id">Inativar</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <nav aria-label="Paginação">
            <ul class="pagination justify-content-center">
                <li class="page-item @if (Model.PagAtual == 1) {<text> disabled </text> }">
                    <button type="button" class="page-link btnPageLiv" aria-label="Previous" value="@(Model.PagAtual-1)" @if (Model.PagAtual == 1) { <text> disabled </text> }>
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Anterior</span>
                    </button>
                </li>
                @for (int i = 1; i <= Model.PagMax; i++)
                {
                    string active = "";
                    @if (i == Model.PagAtual) { active = "active"; }
                    else { active = ""; }
                    <li class="page-item @active">
                        <button type="button" class="page-link btnPageLiv" value="@i"> @i </button>
                        @if (i == Model.PagAtual)
                        {<span class="sr-only">(current)</span>}
                    </li>
                }
                <li class="page-item @if (Model.PagAtual == Model.PagMax) {<text> disabled </text> }">
                    <button type="button" class="page-link btnPageLiv" aria-label="Next" value="@(Model.PagAtual+1)" @if (Model.PagAtual == Model.PagMax) { <text> disabled </text> }>
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Próxima</span>
                    </button>
                </li>
            </ul>
        </nav>


    }
</div>