@model LES.Models.ViewModel.Admin.ListaCodigosPromoModel

<div class="row mb-2">
    <div class="col-sm-12">
        <button type="button" class="btn-success btn-lg btn-block btnAddCodigo" data-toggle="modal" data-target="#myModal">
            Cadastrar novo código promocional
        </button>
    </div>
</div>

@if (Model.Codigos.Count > 0)
{
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Código</th>
                    <th>Valor</th>
                    <th>Editar</th>
                    <th>Inativar</th>
                </tr>
                <tr>
                    <th>
                        <input id="filtroCodId" class="form-control" placeholder="1..." />
                    </th>
                    <th>
                        <input id="filtroCodCodigo" class="form-control" placeholder="SciFi..." />
                    </th>
                    <th>
                        De <input id="filtroCodValorMin" class="form-control" type="number" min="0" placeholder="1..." />%
                        Até <input id="filtroCodValorMax" class="form-control" type="number" min="0" placeholder="100..." />%
                    </th>
                    <th>
                        <input id="filtroCodInativados" class="form-check-input" type="checkbox" />
                        <label for="filtroCodInativados" class="form-check-label">Incluir inativadas?</label>
                    </th>
                    <th>
                        <button class="btn btn-primary btnBuscarCod">Buscar</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Codigos)
                {
                    <tr>
                        <th scope="row">
                            @item.Id
                        </th>
                        <td>
                            @item.Codigo
                        </td>
                        <td>
                            @item.Valor
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-info btnEditarCodigo" data-toggle="modal" data-target="#myModal" value="@item.Codigo">Editar</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btnInativarCodigo" data-toggle="modal" data-target="#myModal" value="@item.Codigo">Inativar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <nav aria-label="Paginação">
            <ul class="pagination justify-content-center">
                <li class="page-item @if (Model.PagAtual == 1) {<text> disabled </text> }">
                    <button type="button" class="page-link btnPageCod" aria-label="Previous" value="@(Model.PagAtual-1)" @if (Model.PagAtual == 1) { <text> disabled </text> }>
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Anterior</span>
                    </button>
                </li>
                @for (int i = 1; i <= Model.PagMax; i++)
                {
                    string active = "";
                    @if (i == Model.PagAtual) { active = "active"; }
                    else { active = ""; }
                    <li class="page-item @active">
                        <button type="button" class="page-link btnPageCod" value="@i"> @i </button>
                        @if (i == Model.PagAtual)
                        {<span class="sr-only">(current)</span>}
                    </li>
                }
                <li class="page-item @if (Model.PagAtual == Model.PagMax) {<text> disabled </text> }">
                    <button type="button" class="page-link btnPageCod" aria-label="Next" value="@(Model.PagAtual+1)" @if (Model.PagAtual == Model.PagMax) { <text> disabled </text> }>
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Próxima</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
}