@model LES.Models.ViewModel.Admin.AdminLivroModel

    <div class="modal-content">
        <!-- Modal content-->
        <div class="modal-header">
            <h4 class="modal-title">Detalhes do Livro</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="container">

                <div class="row my-2">
                    <div class="col-md-6">
                        <img src="~/img/the-Winds-of-Winter-cover.jpg" style="max-width:100px" />
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="font-weight-light">@Model.Titulo</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="text-muted">@Model.Autor</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-4">
                        <div class="font-weight-bold">@Html.DisplayNameFor(m => m.Editora)</div>
                        <div class="font-weight-light">@Model.Editora</div>
                    </div>
                    <div class="col-4">
                        <div class="font-weight-bold">@Html.DisplayNameFor(m => m.Edicao)</div>
                        <div class="font-weight-light">@Model.Edicao ª Edição</div>
                    </div>
                    <div class="col-4">
                        <div class="font-weight-bold">@Html.DisplayNameFor(m => m.DtLancamento)</div>
                        <div class="font-weight-light">@Model.DtLancamento.Year</div>
                    </div>
                </div>


                <div class="row mt-2">
                    <div class="col-4">
                        <div class="font-weight-bold">@Html.DisplayNameFor(m => m.Isbn)</div>
                        <div class="font-weight-light">@Model.Isbn</div>
                    </div>
                    <div class="col-4">
                        <div class="font-weight-bold">@Html.DisplayNameFor(m => m.Paginas)</div>
                        <div class="font-weight-light">@Model.Paginas</div>
                    </div>
                    <div class="col-4">
                        <div class="font-weight-bold">Dimensões</div>
                        <div class="font-weight-light">@Model.Comprimento x @Model.Altura x @Model.Largura cm</div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div class="font-weight-bold">@Html.DisplayNameFor(m => m.Sinopse)</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <small class="font-weight-light">@Model.Sinopse</small>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-4">
                        <div class="font-weight-bold">@Html.DisplayNameFor(m => m.GrupoPreco)</div>
                        <div class="font-weight-light">@Model.GrupoPreco.Nome (margem de @(Model.GrupoPreco.MargemLucro*100 ) %)</div>
                    </div>
                    <div class="col-4">
                        <div class="font-weight-bold">@Html.DisplayNameFor(m => m.Preco)</div>
                        <div class="font-weight-light">R$ @Model.Preco.ToString("0.00").Replace(".",",")</div>
                    </div>
                    <div class="col-4">
                        <div class="font-weight-bold">@Html.DisplayNameFor(m => m.CodigoBarras)</div>
                        <div class="font-weight-light">@Model.CodigoBarras</div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
