@model LES.Models.ViewModel.Carrinho.SelecionarCartaoModel

<div class="modal-content">

    <!-- Modal content-->
    <div class="modal-header">
        <h4 class="modal-title">Selecionar Cartões para Pagar</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <form id="formAlterarPag" asp-action="AlterarPagamento" asp-controller="CarrinhoCompra">
            <div class="row">
                <span class="col-12 text-center">O valor dos campos ativados somados deve ser igual ao valor total.</span>
            </div>
            @{ double soma = 0; }
            @for (int i = 0; i < Model.Cartoes.Count(); i++)
            {
                <div class="row border-bottom">
                    <div class="col-sm-3">
                        <div class="form-check form-switch form-check-inline">
                            <input asp-for="@Model.Cartoes[i].Ativado" class="form-check-input cartaoCheckBox" />
                            <label asp-for="@Model.Cartoes[i].Ativado" class="form-check-label"></label>
                            <span asp-validation-for="@Model.Cartoes[i].Ativado" class="text-danger required"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h5>@Model.Cartoes[i].Bandeira terminado em @Model.Cartoes[i].UltimosDigitos</h5>
                        <input asp-for="@Model.Cartoes[i].Id" class="form-check-input" readonly hidden style="display:none" />
                    </div>
                    <div class="col-sm-3">
                        @if (Model.Cartoes[i].Ativado)
                        {
                            soma += Convert.ToDouble(Model.Cartoes[i].Valor);
                            <input asp-for="@Model.Cartoes[i].Valor" class="form-control required valorInput" type="number" step="0.01" />
                        }
                        else
                        {
                            <input asp-for="@Model.Cartoes[i].Valor" class="form-control required valorInput" type="number" step="0.01" disabled />
                        }
                        <label asp-for="@Model.Cartoes[i].Valor" class="col-form-label"></label>
                        <span asp-validation-for="@Model.Cartoes[i].Valor" class="text-danger required"></span>
                    </div>
                </div>
            }

            <div class="col-12 text-right">Valor Dos Campos: R$ <span id="valSoma">@soma.ToString("0.00").Replace('.', ',')</span></div>
            <div class="col-12 text-right">Valor Total: R$ @Model.ValorTotal.ToString("0.00").Replace('.', ',')</div>
            <input id="ValorTotal" disabled value="@Model.ValorTotal.ToString().Replace(',','.')" hidden />

            @if (soma == Model.ValorTotal)
            {
                <div class="form-group">
                    <input type="submit" value="Pronto" class="btn btn-primary" id="btnAlteraPag" />
                </div>
            }
            else
            {
                <div class="form-group">
                    <input type="submit" value="Pronto" class="btn btn-primary" id="btnAlteraPag" disabled/>
                </div>
            }

        </form>

        
            @if (Model.Cartoes.Count < 4)
            {
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseCartao" role="button" aria-expanded="false" aria-controls="collapseCartao">
                    Adicionar Novo Cartao
                </a>
                <div class="collapse" id="collapseCartao">
                    <div class="card card-body">
                        <form asp-action="AdicionarNovoCartao" asp-controller="CarrinhoCompra">

                            <partial name="/Views/Conta/PartialViews/_CartaoPartial.cshtml" for="@Model" />

                            <div class="form-group">
                                <input type="submit" value="Cadastrar" class="btn btn-primary" id="btn" />
                            </div>

                        </form>
                    </div>
                </div>
            }
            else
            {
                <a tabindex="0" class="btn btn-primary" role="button" data-toggle="popover" data-trigger="focus" title="Limite de cartões atingido." data-content="O seu número de cartões registrados atingiu o máximo.">Adicionar Novo Endereço</a>
            }

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    </div>

</div>