@model LES.Models.ViewModel.Admin.ConfigLojaPaginaModel

@{
    ViewData["Title"] = "Livros";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row justify-content-center"><h1 class="col-12 text-center">Configurar loja</h1></div>
<div class="row">
    <div class="col-12 mb-3 border-bottom">
    </div>
</div>
<div class="row">
    <div id="sidebar" class="col-md-3 sticky-top" style="height:6rem; top:10%">
        <div>
            <button class="btn btn-success tablink" onclick="changeTab(event, 'Livros')" style="width:100%">Livros</button>
        </div>
        <div>
            <button class="btn btn-light tablink" onclick="changeTab(event, 'Categorias')" style="width:100%">Categorias</button>
        </div>
        <div>
            <button class="btn btn-light tablink" onclick="changeTab(event, 'Preco')" style="width:100%">Grupos de Preço</button>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="Livros" class="tab">
            <partial name="../Admin/PartialViews/_TabelaLivrosConfigPartial.cshtml" for="Livros" />
        </div>

        <div id="Categorias" class="tab" style="display:none">
            <partial name="../Admin/PartialViews/_TabelaCategoriasConfigPartial.cshtml" for="Categorias" />
        </div>

        <div id="Preco" class="tab" style="display:none">
            <partial name="../Admin/PartialViews/_TabelaGrupoPrecosConfigPartial.cshtml" for="GrupoPrecos" />
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
</div>


@section Scripts{

    <script type="text/javascript">
        var urls = urls || {};

        urls.AdicionarLivro = '@Url.Action("_AdicionarLivroPartial", "Admin")';
        urls.EntradaEstoqueLivro = '@Url.Action("_EntradaEstoqueLivroPartial", "Admin")';
        urls.VisualizarLivro = '@Url.Action("_VisualizarLivroPartial", "Admin")';
        urls.EditarLivro = '@Url.Action("_EditarLivroPartial", "Admin")';
        urls.InativarLivro = '@Url.Action("_InativarReativarLivroPartial", "Admin")';

        urls.AdicionarCategoria = '@Url.Action("_AdicionarCategoriaPartial", "Admin")';
        urls.EditarCategoria = '@Url.Action("_EditarCategoriaPartial", "Admin")';
        urls.InativarCategoria = '@Url.Action("_InativarReativarCategoriaPartial", "Admin")';

        urls.AdicionarGrupoPreco = '@Url.Action("_AdicionarGrupoPrecoPartial", "Admin")';
        urls.EditarGrupoPreco = '@Url.Action("_EditarGrupoPrecoPartial", "Admin")';
        urls.InativarGrupoPreco = '@Url.Action("_InativarReativarGrupoPreco", "Admin")';

    </script>
    <script src="~/js/Admin/CarregadorPartialViewConfigLoja.js"></script>
    <script src="~/js/Conta/Tabs.js"></script>

}