@model LES.Models.ViewModel.Admin.PaginaPedidosModel

@{
    ViewData["Title"] = "Livros";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row justify-content-center"><h1 class="col-12 text-center">Base de Transações Efetivadas</h1></div>



<div class="row">
    <div id="sidebar" class="col-md-3 sticky-top" style="height:6rem; top:10%">
        <div>
            <button class="btn btn-success tablink" onclick="changeTab(event, 'Pedidos')" style="width:100%">Pedidos</button>
        </div>
        <div>
            <button class="btn btn-light tablink" onclick="changeTab(event, 'Trocas')" style="width:100%">Trocas</button>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-12 mb-3 border-bottom">
            </div>
        </div>
        <div id="Pedidos" class="tab row">
            <partial name="../Admin/PartialViews/_TabelaPedidosPartial.cshtml" for="@Model">
        </div>
        <div id="Trocas" class="tab row" style="display:none">
            <partial name="../Admin/PartialViews/_TabelaTrocasPartial.cshtml" for="@Model">
        </div>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-xl">

            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">
    var urls = urls || {};
    urls.VisualizarPedido = '@Url.Action("_VisualizarPedidoPartial", "Admin")';
    urls.VisualizarTroca = '@Url.Action("_VisualizarTrocaPartial", "Admin")';
    urls.BuscarPedidos = '@Url.Action("_PedidosBusca", "Admin")';
    urls.BuscarTrocas = '@Url.Action("_TrocasBusca", "Admin")';
    </script>
    <script src="~/js/Admin/CarregadorPartialViewPedidos.js"></script>
    <script src="~/js/Admin/CarregarBuscaPedidosTrocas.js"></script>
    <script src="~/js/Conta/Tabs.js"></script>
}
