@model LES.Models.ViewModel.Conta.DetalhesModel


@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Shared/Sidebar.css" rel="stylesheet" />
    <div class="row">
        <div id="sidebar" class="col-md-3 sticky-top" style="height:6rem; top:10%">
            <div>
                <button class="btn btn-success tablink" onclick="changeTab(event, 'Info')" style="width:100%">Informações</button>
            </div>
            <div>
                <button class="btn btn-light tablink" onclick="changeTab(event, 'Telefone')" style="width:100%">Telefones</button>
            </div>
            <div>
                <button class="btn btn-light tablink" onclick="changeTab(event, 'Endereco')" style="width:100%">Endereços</button>
            </div>
            <div>
                <button class="btn btn-light tablink" onclick="changeTab(event, 'Cartao')" style="width:100%">Cartões de Crédito</button>
            </div>
            <div>
                <button class="btn btn-light tablink" onclick="changeTab(event, 'Compras')" style="width:100%">Histórico de Compras</button>
            </div>
            <div>
                <button class="btn btn-light tablink" onclick="changeTab(event, 'Cupons')" style="width:100%">Meus Cupons</button>
            </div>
        </div>
        <div class="col-md-9">
            <h1>Minha conta</h1>
            <div id="Info" class="tab">
                <partial name="../Conta/PartialViews/_DlInfoPessoais.cshtml" for="InfoUsuario" />
                <button class="btn btn-secondary" id="btnEditarInfo" type="button" data-toggle="modal" data-target="#myModal">
                    Editar informações pessoais
                </button>
                <button class="btn btn-secondary" id="btnEditarSenha" type="button" data-toggle="modal" data-target="#myModal">
                    Alterar senha
                </button>
            </div>
            <div id="Telefone" class="tab" style="display:none">
                <partial name="../Conta/PartialViews/_ListaTelefonesPartial.cshtml" for="Telefones" />
                <a id="addNovoTelefoneLink" href="#myModal" data-toggle="modal" data-target="#myModal">Adicionar Telefone</a>
            </div>
            <div id="Endereco" class="tab" style="display:none">
                <partial name="../Conta/PartialViews/_ListaEnderecosPartial.cshtml" for="Enderecos" />
                <a id="addNovoEnderecoLink" href="#myModal" data-toggle="modal" data-target="#myModal">Adicionar Endereço</a>
            </div>
            <div id="Cartao" class="tab" style="display:none">
                <partial name="../Conta/PartialViews/_ListaCartoesPartial.cshtml" for="Cartoes" />
                <a id="addNovoCartaoLink" href="#myModal" data-toggle="modal" data-target="#myModal">Adicionar Cartão de Crédito</a>
            </div>
            <div id="Compras" class="tab" style="display:none">
                <partial name="../Conta/PartialViews/_ListaPedidosPartial.cshtml" for="Pedidos">
            </div>
            <div id="Cupons" class="tab" style="display:none">
                <partial name="../Conta/PartialViews/_ListaCuponsPartial.cshtml" for="Cupons">
            </div>
        </div>

    </div>

<div id="myModal" class="modal fade" role="dialog">

</div>

@section Scripts{

    <script type="text/javascript">
        var urls = urls || {};
        urls.editarInfoPessoal = '@Url.Action("_EditarInfoPessoalPartial","Conta", Int32.Parse( Model.InfoUsuario.Codigo))';
        urls.editarSenha = '@Url.Action("_EditarSenhaPartial","Conta", Int32.Parse(Model.InfoUsuario.Codigo))';
        urls.novoEndereco = '@Url.Action("_AdicionarNovoEnderecoPartial", "Conta", Int32.Parse(Model.InfoUsuario.Codigo))';
        urls.novoTelefone = '@Url.Action("_AdicionarNovoTelefonePartial", "Conta", Int32.Parse(Model.InfoUsuario.Codigo))';
        urls.novoCartao = '@Url.Action("_AdicionarNovoCartaoPartial", "Conta", Int32.Parse(Model.InfoUsuario.Codigo))';
        urls.EditarEndereco = '@Url.Action("_EditarEnderecoPartial", "Conta")';
        urls.EditarTelefone = '@Url.Action("_EditarTelefonePartial", "Conta")';
        urls.EditarCartao = '@Url.Action("_EditarCartaoPartial", "Conta")';
        urls.RemoverEndereco = '@Url.Action("_RemoverEnderecoPartial", "Conta")';
        urls.RemoverTelefone = '@Url.Action("_RemoverTelefonePartial", "Conta")';
        urls.RemoverCartao = '@Url.Action("_RemoverCartaoPartial", "Conta")';
        urls.RealizarTroca = '@Url.Action("_RealizarTrocaPartial", "Conta")';

    </script>
    <script src="~/js/Conta/CarregadorPartialViewsDetalhes.js"></script>
    <script src="~/js/Conta/Tabs.js"></script>

}
